h2{
    background-color: black;
}
.h2{
    color: orange;
    font-weight: arial;
}
.h3{
    color: black;
    background-color: orange;
    font-style: oblique;
}
u{
    color: blue;
}
.imagen1{
    width: 1500px;;
   
}